.hr{
	height: 2px;
	background-color: $color-border;

	&-small{
		width: 64px;
	}
}

label.inputLabel{
	display: block;
	color: #8C8C8C; font-weight: $medium;
	text-transform: uppercase; letter-spacing: 1px;
}
.inputText{
	width: 100%; height: 60px;
	font-size: 18px; line-height: 24px;
	padding: 16px;
	background-color: #fff;
	border: 1px solid #D2D2D2;
	@include box-shadow(inset 0px 1px 3px 0px rgba(0,0,0,0.20));
	outline: none; resize: none;

	&-large{
		height: 150px;
	}

	&:focus{
		@include box-shadow(inset 0px 1px 3px 0px rgba(0,0,0,0.40));
	}
}