
$config-font-family: "Merriweather";
$config-rem-baseline-px: 16px;
$config-rem-include-px: true;


//--- CSS UTILS
$config-paddings: ();
$config-margins: (15 20 30 60 90);

$config-tablet-paddings: ();
$config-phone-tablet-paddings: ();
$config-phone-paddings: ();

$config-tablet-margins: ();
$config-phone-tablet-margins: ();
$config-phone-margins: ();

$config-paddings-use-important: true;
$config-margins-use-important: true;